<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <!-- Section  -->
 <div class="aboutus">
 <section id="about" class="about">
        <div class="about">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="h2about red">About Us...</h2>
                    <hr class="small">
                    </div>
                    </div>
                    </div>
                    </section>
  <p>
We're the world's leading provider of web-based survey solutions, trusted by millions of companies, organizations and individuals alike to gather the insights they need to make more informed decisions.
</br>
When user first sign up for a survey they are going to ask you a number of questions about user’s Name, Username, Password, Email Address.</br> And that’s because they need to know user’s demographics before matching you up with the correct surveys and secondly, they can come back and login into</br> our website and they can see the data and result of their survey.
It can be a little time consuming, but our recommendation is to sign up for all survey before create.</br> So, we are going to add passport and mongodb database support.</p>
 </div>
<% include partials/footer.ejs %>
    