<% include partials/header.ejs %>

    <% include partials/navbar.ejs %>
        <main class="container icon">
            <div class="col-md-6 col-sm-6 home">
                <span class="image">
                        <img src="/images/s7.gif" class="img-circle" width="200" height="200" >
                                  </span>
                <h1>Know your Product Better</h1>
                <p>
                    Create your own survey by providing your own questions based on your product</p>
              
                <a class="btn btn-primary" href="/survey">
                    Create Survey
                    </a>
            </div>
            <div class="col-md-6 col-sm-6 home">
                <span class="image">
                          <img src="/images/s2.gif"class="img-circle"  width="200" height="200" >
                                  </span>
                <h1>Your valuable Opinion</h1>
                <p>
                    Give us your valuable opinion by taking our survey to help our clients know more about their products' quality</p>
              
                <a class="btn btn-primary" href="/survey">
                    Take Survey
                    </a>
            </div>
        </main>
        <% include partials/footer.ejs %>